.container{
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(3, 30px [line]);
    grid-template-rows: repeat(3, 30px[rows]);
}
/* .point{
    color: black;
    border: 0.5px solid red;
    text-align: center;
} */